* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	max-width: 960px;
}

.page {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border-top: 25px solid black;
}

.h1 {
	/*font-family: "Berkshire Swash", cursive;*/
	font-family: "Wire One", cursive;
	font-weight: 900;
	font-size: 250%;
	text-align: end;
	color: #253494;
	/*margin: 5% 0 0 0;*/
	margin: 4% 0 0 0;
}

h1 {
	border-bottom: 50px solid #ffffcc;
	margin: 0 auto;
	padding: 1%	 2%;

	display: -webkit-flex;
	-webkit-justify-content: flex-end;

	display: flex;
	justify-content: flex-end;
}

.html-entity {
	font-family: sans-serif;
	font-size: 400%;
	font-weight: normal;
	margin: 0 2%;
	color: #253494;
}

.menu {
	display: -webkit-flex;
	display: flex;
	/*max-width: 960px;*/
}

.picture {
	/*max-width: 400px;*/
	width: 44%;
}

.picture img {
	border: 1px solid #ffffcc;
	margin-top: 1%;
}

.recipe {
	display: -webkit-flex;
	-webkit-justify-content: start;
	-webkit-flex-flow: column nowrap;

	display: flex;
	justify-content: start;
	flex-flow: column nowrap;

	border: 25px dotted #ffffcc;

	/*max-width: 560px;*/
	width: 56%;
}


.option {
	display: -webkit-flex;
	-webkit-justify-content: start;

	display: flex;
	justify-content: start;
}

.ingredient {
	margin: 0;
	padding: 0;
	font-weight: 900;
}

.curious, .curiouser {
	color: #41b6c4;
	font-size: 500%;
	padding: 0;
	margin: 0;
}

.one {
	font-family: "Poiret One", cursive;
	font-size: 1000%;
	color: #41b6c4;
}

.c {
	font-family: "Arizonia", cursive;
	font-size: 1000%;
}

.u {
	font-family: "Meddon", cursive;
	font-size: 650%;
}

.r {
	font-family: "Engagement", cursive;
	font-size: 1000%;
}

.i {
	font-family: "Condiment", cursive;
	font-size: 1000%;
}

.o {
	font-family: "Fredoka One", cursive;
	padding-top: 18%;
}

.u-2, .s {
	padding-top: 18%;
}